body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-header svg {
    stroke: var(--text-color);
}

@media (max-width: 48rem) {
    .nav {
        flex-direction: row;
        text-align: left;
    }

    .nav-header {
        margin-bottom: 0;
    }

    .nav-item {
        justify-content: flex-end;
    }

    .nav-item.right {
        margin-top: 0;
    }
}

main {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    max-width: 75rem;
    margin: auto;
    padding: 1rem;
}

main h1 {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 3.5625rem;
    text-align: center;
}

.card-title,
.dialog-content h5 {
    margin-top: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.cards .card {
    margin: 0;
    padding: 0.9375rem;
    text-align: left;
    width: auto;
}

.card-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-top: 0.75rem;
    text-align: center;
}

@media (max-width: 31.25rem) {
    .card-buttons {
        grid-template-columns: 1fr;
    }
}

.card-buttons .card-button {
    width: auto;
    padding-inline: 0;
}

.card-button svg {
    margin-left: 0.25rem;
    vertical-align: middle;
}

.footer {
    padding: 1.5rem 1rem;
    font-size: 0.875rem;
    text-align: center;
    color: var(--text-card-description);
    background: var(--forground-color);
}

#disclaimer {
    max-width: 45vw;
}

.dialog-content h5 {
    font-size: 1.75rem;
    margin-bottom: 0px;
}

.dialog-content p {
    color: var(--text-card-description);
}

.dialog-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}