/* Add a repeating text background 45deg angle */
body {
    margin: 0;
}

header nav h5 {
	align-content: center;
	display: flex;
	gap: 0.4rem;
}

header svg {
    width: 3rem;
}

.title {
    padding-bottom: 1rem;
    text-align: center;
    padding-top: 1rem;
}

main {
    padding-bottom: 1rem;
}

article nav a button {
    margin: 0;
}

article nav {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

article nav a {
    margin: 0;
}

footer {
    text-align: center;
}